body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    background: white;
    padding: 2%; /* Using percentage for padding */
    border-radius: 1%;
    display: flex;
    gap: 2%; /* Spacing between elements */
    flex-direction: column;
    width: 50%; /* Set container width as a percentage of its parent */
    max-width: 600px; /* Optional: maximum width to prevent it from becoming too wide on larger screens */
}

input[type="text"] {
    padding: 1.5%; /* Percentage padding for better responsiveness */
    width: 100%; /* Full width of the container */
    border-radius: 0.5%; /* Relative border radius */
    font-size: 1.25em; /* Relative font size */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    margin-bottom: 2%;
}

button {
    padding: 1% 2%; /* Relative padding */
    font-size: 1.25em; /* Relative font size for better scaling */
    border-radius: 0.5%; /* Relative border radius */
    border: none;
    cursor: pointer;
    color: white;
    background-color: #007BFF;
    transition: background-color 0.3s;
    margin-bottom: 8%;
}

    button:hover {
        background-color: #0056b3;
    }
